* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    --primary-color: #d5def5;
    --secondary-color: #00168b;
    --tertiary-color: #6643b5;
    --fourth-color: #581474;
    --dark-color: rgb(66, 61, 61);
    --bright-color: #dddddd;
}


.container {
    background-color: gray;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 12px;

}

.kutu {
    border-radius: 7px;
    width: 100%;
    height: 100vh;
    float: left;
}

.container> :nth-child(n) {
    border-radius: 0px;
    background: rgb(88, 20, 116);
    background: linear-gradient(180deg, rgba(88, 20, 116, 1) 0%, rgba(51, 36, 87, 1) 45%, rgba(0, 22, 139, 1) 100%);
}

.container> :nth-child(2n) {
    background: rgb(88, 20, 116);
    background: linear-gradient(0deg, rgba(88, 20, 116, 1) 0%, rgba(76, 52, 131, 1) 45%, rgba(0, 22, 139, 1) 100%);
}

/*Anasayfa*/
.container:nth-child(1) {}

#menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: var(--tertiary-color);
    backdrop-filter: blur(15px);
    z-index: 100;
    transition: left 0.2s ease-in-out;
}

#menu.open {
    left: 0;
}

#menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#menu ul li {
    margin: 10px;
    list-style-type: none;
}

#menu ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

#menu ul li a:hover {
    color: var(--fourth-color);
}

#menu ul li a.active {
    color: #fff;
}

@media (max-width: 768px) {
    #menu ul {
        flex-direction: row;
    }
}

#menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 101;
}

#menu-button img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #menu {
        width: 100%;
    }

    #menu-button {
        display: none;
    }
}


#kutu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#kutu h1,
#kutu h2 {
    text-align: center;
}

#kutu h1 {
    font-size: 60px;
}

#kutu h2 {
    font-size: 16px;
}

#UyeOl:link {
    color: var(--primary-color);
    transition: 0.2s;
}

#UyeOl:visited {
    color: var(--dark-color);
}

#UyeOl:active {
    color: var(--fourth-color);
}

#UyeOl:hover {
    color: var(--fourth-color);
    transition: 0.2s;
}

/*Eğitimler Ekranı*/
.kutu {
    border-radius: 7px;
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #fff;
    padding: 20px;
}

.kutu #Egitimler {
    background-color: var(--dark-color);
    color: white;
}

.yol-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secenek {
    display: flex;
    justify-content: space-between;
    width: 99%;
    background-color: gray;
}

.secenek a {
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.secenek a.active {
    background-color: green;
}

/* Ekran İçerikleri */
.icerik {
    display: none;
}

.icerik.active {
    display: block;
    width: 100%;
}

/*Hayallerine Kodla Asistanı*/
#Asistan {
    background-color: var(--primary-color);
}


/*İletişiim*/
#İletisim {
    background-color: #d5def5;
    padding: 2em;
    text-align: center;
}

.iletisim-kutulari {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sol-kutu,
.sag-kutu {
    width: 48%;
    height: 50rem;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sol-kutu h3,
.sag-kutu h3 {
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--secondary-color);
    font-weight: 800;
}

.sol-kutu ul {
    list-style: none;
    padding: 0;
}

.sol-kutu ul li {
    padding: 0.5em 0;
    color: #6643b5;
    font-size: 16px;
    line-height: 1.5;
}

.sol-kutu ul li i {
    margin-right: 10px;
    color: #4f64d1;
}

.sag-kutu form {
    margin: 0;
}

.sag-kutu form input,
.sag-kutu form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.sag-kutu form textarea {
    height: 100px;
    resize: vertical;
}

.sag-kutu form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #4f64d1;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.sag-kutu form button:hover {
    background-color: #6643b5;
    transition: .3s ease;
}

/* Animasyonlar */

.sol-kutu:hover,
.sag-kutu:hover {
    box-shadow: 0 0 10px rgb(250, 249, 249);
}

.sag-kutu form input:focus,
.sag-kutu form textarea:focus {
    border-color: #4f64d1;
}

/*Footer*/
footer {
    text-align: center;
    font-weight: bold;
    background-color: var(--secondary-color);
}

/*Yukarı-Git*/
#yukari-git {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4f64d1;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

#yukari-git:hover {
    opacity: 1;
}

#yukari-git.gizli {
    display: none;
}

@media (max-width: 768px) {
    #yukari-git {
        bottom: 10px;
        right: 10px;
    }
}