* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    --primary-color: #d5def5;
    --secondary-color: #00168b;
    --tertiary-color: #6643b5;
    --fourth-color: #581474;
    --dark-color: rgb(66, 61, 61);
    --bright-color: #dddddd;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--fourth-color);
    display: flex;
}

.menu,
.ekranEgitim,
.ekranAlistirma {
    border: 1px solid black;
}

/*Eğitim Menü İçeriği*/
.menu {
    width: 15%;
    overflow-y: auto;
    padding: 10px;
}

/*.menu Ekranı Scrollbar'ı Özelleştirme*/
.menu::-webkit-scrollbar {
    width: 8px;
    background-color: #e8e8e8;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.menu .egitimBaslik,
.menu .egitimDersler {
    width: 100%;
    float: left;
}

.menu .egitimBaslik {
    margin-bottom: 5px;
}

.menu .egitimDersler a {
    width: 100%;
    float: left;
    margin-top: 3px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--bright-color);
    border-radius: 4px;
    text-decoration: none;
    color: var(--bright-color);
    box-shadow: 0 0 5px var(--secondary-color);
    transition: box-shadow 0.2s ease;
    font-weight: bolder;
}

.menu .egitimDersler a:hover {
    box-shadow: 0 4px 8px var(--bright-color);
    background-color: var(--tertiary-color);
    transition: 0.4s ease;
}

.menu .egitimDersler a:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.aktif {
    background-color: var(--secondary-color);
    /* Aktif kutunun arka plan rengini yeşil yapar */
}

.aktif a {
    color: var(--dark-color);
    /* Aktif kutudaki yazının rengini beyaz yapar */
}


/*Eğitim Ekranı*/
.ekranEgitim {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

/*.ekranEgitim Ekranı Scrollbar'ı Özelleştirme*/
.ekranEgitim::-webkit-scrollbar {
    width: 8px;
    background-color: #e8e8e8;
}

.ekranEgitim::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
}

.ekranEgitim::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.ekranEgitim-konu {
    background-color: var(--bright-color);
    /* Arka plan rengi */
    border-radius: 10px;
    /* Köşelerin yuvarlatma derecesi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Gölge efekti */
    padding: 20px;
    /* İç boşluk */
    margin-bottom: 20px;
    /* Alt kenar boşluğu */
}

.ekranEgitim-konu h3 {
    color: #333;
    /* Başlık rengi */
    font-size: 1.6em;
    /* Başlık yazı tipi boyutu */
    margin-bottom: 10px;
    /* Alt kenar boşluğu */
}

.ekranEgitim-konu p {
    color: #666;
    /* Metin rengi */
    line-height: 1.6;
    /* Metin satır aralığı */
}

.ekranEgitim-konu ul li {
    color: #777;
    /* Alt metin rengi */
    line-height: 1.5;
    /* Alt metin satır aralığı */
    list-style-type: none;
}

.ekranEgitim-alt-konular {
    margin-top: 20px;
    /* Üst kenar boşluğu */
}

.ekranEgitim-alt-konu {
    background-color: #fff;
    /* Alt kutu arka plan rengi */
    border-radius: 5px;
    /* Alt kutunun köşelerinin yuvarlatma derecesi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Alt kutunun gölge efekti */
    padding: 15px;
    /* Alt kutunun iç boşluğu */
    margin-bottom: 10px;
    /* Alt kutunun alt kenar boşluğu */
}

.ekranEgitim-alt-konu h4 {
    color: #444;
    /* Alt başlık rengi */
    font-size: 1.4em;
    /* Alt başlık yazı tipi boyutu */
    margin-bottom: 5px;
    /* Alt başlığın alt kenar boşluğu */
}

.ekranEgitim-alt-konu p,
.ekranEgitim-alt-konu ul li {
    color: #777;
    /* Alt metin rengi */
    line-height: 1.5;
    /* Alt metin satır aralığı */
    list-style-type: none;
    text-indent: 12px;
}

.ekranEgitim-alt-konu pre {
    white-space: pre-wrap;
}

/*Alıştırma Ekranı*/
.ekranAlistirma {
    width: 40%;
    padding: 10px;
}